.footer {
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    color: @text-dark;
    letter-spacing: 2px;
}

.footer__top, 
.footer__bottom {
    box-sizing: border-box;
    width: 1400px;
    margin: 0 auto;
    // padding: 0 100px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.footer__browse {
    width: 120px;
}

.footer__shop {
    width: 195px;
}

.footer__contact {
    width: 250px;
}

.footer__subscribe {
    width: 340px;
}

.footer__title {
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    &--subscribe {
        margin-bottom: 20px;
    }
    &--contact {
        margin-bottom: 33px;
    }
}

.footer__menu-list {
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 10px;
        list-style: none;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer__menu-link {
    font-size: 16px;
    color: @text-dark;
    text-decoration: none;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: @bg-prints;
}

.footer__copyright {
    margin: 0;
}