.page-header {
    position: relative;
    // width: 1600px;
    margin: 0 auto;
    background-color: @header;
}

.page-header__wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    // width: 1400px;
    margin: 0 auto;
    // padding: 0 100px;
    padding-left: @set;
    padding-right: @set;
    padding-top: 50px;
}

.page-header__logo {
    width: 200px;
    padding: 25px 0;
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: @text-light;
    background-color: #000000;
    text-align: center;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: @text-dark;
        background-color: @text-light;
    }
}

.page-header__nav {
    align-self: baseline;
}

@media(min-width: @base-width) {
    .page-header {
        width: 1600px;
    }
    .page-header__wrapper {
        width: 1400px;
        // padding: 0 100px;
    }
}