.page-title {
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.page-title__title {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 75px;
    font-weight: 200;
    font-size: @fz-title;
}

.page-title__text {
    position: relative;
    width: 645px;
    margin: 0 auto;
    margin-bottom: 95px;
    font-weight: 600;

    &::after {
        content: "";
        position: absolute;
        bottom: -45px;
        right: 277px;

        width: 80px;
        height: 2px;
        background-color: @text-dark;
    }
}