.people {
    position: relative;
}

.people__list {
    margin: 0;
    padding: 0;
}

.people__item {
    list-style: none;
    background-color: @bg-pink;
    &:nth-child(2) {
        background-color: rosybrown;
    }
    &:nth-child(3) {
        background-color: lemonchiffon;
    }
    &:nth-child(4) {
        background-color: darkgrey;
    }
}

.people__wrapp {
    display: flex;
}

.people__quotes-block {
    width: 50%;
    margin: 0;
    padding-left: @set;
    // padding-right: 195px;
    padding-right: @set;
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
}

.people__quotes-text {
    margin: 0;
    margin-bottom: 40px;
    // padding-top: 130px;
    padding-top: 100px;
    font-weight: bold;
}

.people__quotes-author {
    font-weight: 300;
}

.people__img {
    width: 50%;
    object-fit: cover;
}

.people_dots {
    position: relative;
    left: @set;
    top: -65px;
    display: flex;
    justify-content: space-between;
    width: 94px;
}

.people__dot {
    width: 10px;
    height: 13px;
    background-color: transparent;
    border: 2px solid #696767;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: lighten(#696767, 30%);
    }

    &--active {
        background-color: #696767;
    }
}

@media(min-width: @base-width) {
    .people__quotes-block {
        padding-left: 100px;
        padding-right: 195px;
    }

    .people_dots {
        left: 100px;
        top: -120px;
    }
}