.prints {
    background-color: @bg-prints;
}

.prints__wrapper {
    box-sizing: border-box;
    width: 1400px;
    margin: 0 auto;
    // padding: 0 100px;
    padding-top: 100px;
    padding-bottom: 120px;
}

.prints__list {
    display: flex;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    padding-top: 120px;
}

.prints__block-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 742px;
}

.prints__item {
    position: relative;
    list-style: none;
    &--first {
        flex-grow: 1;
    }
    &--second,
    &--third {
        width: 330px;
    }
}

.prints__slogan {
    position: absolute;
    margin: 0;
}

.prints__slogan--gentle {
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: @text-light;
}

.prints__slogan--muse {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 36px;
    font-style: italic;
    color: @text-dark;
}

.prints__author {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.prints__slogan--work {
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: @text-dark;
}

.prints__slogan--golden {
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #fefefe;
    span {
        font-weight: 900;
        font-size: 37px;
    }
}

.prints__button {
    margin: 0 auto;
}