.promo {
    margin-top: -137px;
    height: 1000px;
    background-image: url("../../img/header-slider.jpg");
}
.promo__list {
    margin: 0;
    padding: 0;
}

.promo__item {
    list-style: none;
}

.promo__text {
    margin: 0;
    // 704 / 16 (1 % от 1600px)
    margin-left: 44%;
    padding-top: 338px;
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: @text-light;
    span {
        font-weight: 100;
        font-size: 220px;
        text-transform: uppercase;
    } 
}

@media(min-width: @base-width) {
    .promo__text {
        margin-left: 704px;
    }
}