.reasons__wrapper {
    box-sizing: border-box;
    width: 1400px;
    margin: 0 auto;
    padding: 0 100px;
}

.reasons__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    font-size: @fz-text;
    line-height: @lh-text;
}

.reasons__item {
    width: 50%;
    list-style: none;
}

.reasons__subtitle {
    margin: 0;
    font-weight: bold;
    font-size: @fz-subtitle;
    line-height: @lh-subtitle;
    text-transform: uppercase;
}

.reasons__quotes {
    margin: 0;
    font-weight: 500;
}

.reasons__quotes-author {
    font-style: italic;
}

.reasons__button {
    margin: 0 auto;
}